*{
    padding: 0;
    margin: 0;
}
header{
    background-color: aliceblue;
    display: flex;
}
.logo{
    flex: 1;
    height: 50px;
    background-color: gray !important;

}
.navbar{
    display: flex;
    flex: 4;
    justify-content: space-around;
    align-items: center;
}
.navbar li{
    padding: 10px;
    list-style-type: none;
    font-size: 20px;
}
.banner{
    height: 250px;
}
.fakeimg{
    background-color: lightgray;
    padding-top: 20px;
    padding-left: 20px;
}
section, footer{
    padding: 20px;
}
section{
    display: flex;
}
.sidebar{
    flex: 1;
}
.container{
    flex: 3;
}
.container div{
    display: flex;
}
.container div div{
    flex: 1;
    margin: 20px;
}
.container div ul{
    flex: 2;
    margin: 20px;
    background-color:lightpink;
}
.container div ul li{
    padding: 10px;
    
}
section div h3{
    border-bottom: 1px solid gray;
    padding: 10px;
}
footer{
    display: flex;
    background-color: aliceblue;
    justify-content: space-evenly;
}
footer ul{
    padding: 10px;
    list-style-type: none;
    font-size: 20px;
}
footer div.fakeimg{
    height: 50px;
    width: 60px;
}